
body{
    background-image: url(home_background.jpg) ;
    background-size:100%; 
    color:rgba(250, 231, 84, 0.916);
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "UD デジタル 教科書体 N-R","UD Digi Kyokasho N-R";
}
@media screen and (max-width: 1000px) {
    body{
        background-image: url(mobile_background.jpg);
    }
}

.home_title{
    margin-top:20%;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .home_title{
        margin-top:45%;
        margin-left:10%;
        margin-right: 10%;
    }
}
.home_title h2{
    text-align: center;
}
.help_button{
    width:5%;
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .help_button{
        width:20%;
    }
}
.help{
    display: flex;
}
#problem{
    width:35%;
}
@media screen and (max-width: 1000px) {
    #problem{
        width: 65%;
    }
}
.home_text{
    margin-left:40%;
}
@media screen and (max-width: 1000px) {
    .home_text{
        margin-left:25%
    }
}

#example{
    display: none;
}

/* .all_tarot{
    margin-top:20%;
    margin-left:45%;
    display: flex;
} */
.tarot_area{
    margin-top:25%;
    margin-left:10%;
    display: block;
    position: relative;
}
.tarot_card{
    width:13%;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 1000px) {
    .tarot_card{
        width:20%;
    }
}
#next1{
    margin-top: 30px;
    margin-left: 10px;
    display: block;
    background-color: rgb(58, 13, 101);
    width:20%;
    transition: background-color 0.3s, transform 0.3s;
    color:azure;
    padding: 20px 50px;
    text-align: center;
    border-color: aliceblue;
    box-shadow: 0 7px 0 rgb(74, 35, 113);
    border-radius: 60px;
}
@media screen and (max-width: 1000px) {
    #next1{
        margin-top:70px;
        margin-left:20px;
    }
}
#next1:hover{
    background-color: rgb(106, 71, 141);
    box-shadow: none;
    transform: translateY(4px);
}

.btn{
    display: flex;
    gap: 160px;
}
@media screen and (max-width: 1000px) {
    .btn{
       gap:20px; 
    }
}
#start{
    display: block;
    background-color: rgb(58, 13, 101);
    width:20%;
    height: 10%;
    transition: background-color 0.3s, transform 0.3s;
    color:azure;
    padding: 20px;
    text-align: center;
    border-color: aliceblue;
    box-shadow: 0 7px 0 rgb(74, 35, 113);
    border-radius: 60px;
    margin-left: 20%;
    margin-top: 18%;
}
@media screen and (max-width: 1000px) {
    #start{
        margin-top:90%;
        margin-left:25%;
        width: 150px;
        position: relative;
        top:130%;
    }
}
#start:hover{
    background-color: rgb(106, 71, 141);
    box-shadow: none;
    transform: translateY(4px);
}

#cut{
    display: block;
    background-color: rgb(58, 13, 101);
    width:20%;
    height: 10%;
    transition: background-color 0.3s, transform 0.3s;
    color:azure;
    padding: 20px;
    text-align: center;
    border-color: aliceblue;
    box-shadow: 0 7px 0 rgb(74, 35, 113);
    border-radius: 60px;
    margin-top: 18%;
}
@media screen and (max-width: 1000px) {
    #cut{
        margin-top:115%;
        margin-left:25%;
        width:150px;
        height:20px;
        position: absolute;
    }
}
#cut:hover{
    background-color: rgb(106, 71, 141);
    box-shadow: none;
    transform: translateY(4px);
}
#look_result{
    display: none;
    background-color: rgb(58, 13, 101);
    width:20%;
    transition: background-color 0.3s, transform 0.3s;
    color:azure;
    padding: 20px;
    text-align: center;
    border-color: aliceblue;
    box-shadow: 0 7px 0 rgb(74, 35, 113);
    border-radius: 60px;
    margin-left: 20%;
    margin-top: 18%;
}
@media screen and (max-width: 1000px) {
    #look_result{
        margin-top: 90%;
        margin-left:25%;
        width:150px;
        height:20px;
    }
}
#look_result:hover{
    background-color: rgb(106, 71, 141);
    box-shadow: none;
    transform: translateY(4px);
}
  
.spin {
    animation: spin 1s liner 0s forwards running;
}
  
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.return{
    color:rgba(250, 231, 84, 0.916);
    bottom: 0;
    margin-left: 5px;
    position: fixed;
    z-index: 999;
    text-decoration: none;
}
.return:hover{
    color:rgba(249, 248, 241, 0.916);
}

.clear_area{
    display: none;
}

.result_body{
    background-image: url(result_img.jpg) ;
    background-size:100%; 
    color:rgba(246, 233, 136, 0.916);
    overflow:scroll;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "UD デジタル 教科書体 N-R","UD Digi Kyokasho N-R";
}
@media screen and (max-width: 1000px) {
    .result_body{
        background-image: url(mobile_background.jpg) ;
    }
}
.yourcard_is{
    white-space: nowrap;
}
#result_area{
    margin-left:55%;
    position: absolute;
    top: -100px;
    left: -150px;
    width:50%;
}
@media screen and (max-width: 1000px) {
    #result_area{
        top: 100px;
        left: -60px;
        width:80%;
    }
}
#go_result{
    display: none;
    background-color: rgb(58, 13, 101);
    width:20%;
    transition: background-color 0.3s, transform 0.3s;
    color:azure;
    padding: 20px;
    text-align: center;
    border-color: aliceblue;
    box-shadow: 0 7px 0 rgb(74, 35, 113);
    border-radius: 60px;
    margin-top: 0%;
    margin-left: 38%;
}
@media screen and (max-width: 1000px) {
    #go_result{
        margin-top: 65%;
        margin-left:25%;
        width:150px;
        height:20px;
    }
}
#go_result:hover{
    background-color: rgb(106, 71, 141);
    box-shadow: none;
    transform: translateY(4px);
}

.result_imgandname{
    margin-left:15%;
    margin-top:10%;
}
@media screen and (max-width: 1000px) {
    .result_imgandname{
        margin-left:25%;
    }
}
#result_name{
    position: relative;
    display: flex;
    padding-left: 15%;
}
@media screen and (max-width: 1000px) {
    #result_name{
        margin-left:5%;
    }
}
.result_flex{
    display: flex;
    margin-bottom: 200px;
}
@media screen and (max-width: 1000px) {
    .result_flex{
        display: block;
    }
}
.result_flex h2{
    white-space: nowrap;
}
.problem_title{
    display: flex;
    white-space: nowrap;
    text-align: center;
}

#ai_answer{
    width:80%;
}
.result_space{
    margin-left:8%;
    margin-top: 7%;
}
@media screen and (max-width: 1000px) {
    .result_space{
        margin-left:18%;
        margin-top:50px;
    }
}

#loading{
    text-align: center;
    padding-top: 10%;
    display: none;
}